<h1> Is it a palindrome?</h1>
<form action="/form">
  <div class="form-group">
     <label for="title">Enter a word/words
</label>
     <input id="words" name="words" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">submit</button>
</form>

<h1>Your answer-</h1>
<h2><%= @word %></h2>
